/* Reset básico e fonte */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;;
    font-size: 62.5%;
}

:root{
    /*## Colors

    ### Primary*/

    --team-builder: hsl(0, 78%, 62%);
    --supervisor: hsl(180, 62%, 55%);
    --karma: hsl(34, 97%, 64%);
    --calculator: hsl(212, 86%, 64%);

    /*### Neutral*/

    --Grey-500: hsl(234, 12%, 34%);
    --Grey-400: hsl(212, 6%, 44%);
    --White: hsl(0, 0%, 100%);
}

body{
    background-color: hsl(0,0%,98%);
}

section{
    margin: 3rem auto;
    max-width: 30rem;
}

header{
    margin-bottom: 2.5rem;
}

header h2{
    font-size: 2.4rem;
    font-weight: 200;
}

header h2,p{
    color: var(--Grey-400);
}

header h1{
    color: var(--Grey-500);
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

header p {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

/*cards*/
.card{
    border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
    margin-bottom: 2rem;
   
    box-shadow: 1px 1px 31px -13px var(--Grey-500);
    -webkit-box-shadow: 1px 1px 31px -13px var(--Grey-500);
    -moz-box-shadow: 1px 1px 31px -13px var(--Grey-500);

    display: flex;
    flex-direction: column;
}

.card-content{
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.card h2{
    color: var(--Grey-500);
    font-size: 1.5rem;
}
.card p{
    color: var(--Grey-500);
    font-size: 1.5rem;
    padding-right: 0.5rem;
}

.card-content img{
    max-width:fit-content;
    align-self: flex-end;
    margin-top: 2rem;
    margin-bottom: 2rem;  
}

.card-line-supervisor{
    background-color: var(--supervisor);
    height: 0.6rem;
    overflow: hidden;
    border-radius: 0.4rem 0.4rem 0 0;
}
.card-line-team-builder{
    background-color: var(--team-builder);
    height: 0.6rem;
    border-radius: 0.4rem 0.4rem 0 0;
}
.card-line-karma{
    background-color: var(--karma);
    height: 0.6rem;
    border-radius: 0.4rem 0.4rem 0 0;
}
.card-line-calculator{
    background-color: var(--calculator);
    height: 0.6rem;
    border-radius: 0.4rem 0.4rem 0 0;
}


@media (min-width: 768px) {

    section {
    max-width: 1440px;
    text-align: center;
    margin: 5rem auto;
    }

  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
    gap: 2rem;
    align-items: center; /* centraliza verticalmente */
    max-width: 100vh;
    margin: 5rem auto;

    justify-content: center;

    padding: 0rem 5rem 0rem 5rem;
  }

  .card-columm {
    display: flex;
    flex-direction: column;
    gap: 2rem; /* espaço entre os dois cards do meio */
  }

  .card {
    text-align: left; 
  }

  header h2{
    font-size: 4.4rem;  
  }

  header h1{
    font-size: 4.4rem;
  }

  header p{
    font-size: 2.4rem;
    max-width: 80rem;
  }

  header{
    display: inline-block;
  }

}
